@model IEnumerable<TalentManagement.Domain.Entities.Talent>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}



<!--<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gender)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhoneNo)
            </th>
            
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gender)
            </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PhoneNo)
                </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
-->
<!-- //banner-bottom-wthree banner-bottom-wthree pb-lg-5 pb-md-4 pb-3-->
<!--/process-- d-flex align-items-center justify-content-center>
@*<section >
    
    <div class="container d-flex align-items-center justify-content-center">
        <div class="inner-sec-w3ls py-lg-5  py-3 ">
            <!---728x90--->
<h3 class="tittle text-center mb-lg-4 mb-3">

            List of Talents
            <div style="position:absolute;right:25px; top:160px;">
                  <a asp-action="Create" class="btn btn-success  float-right">Add New Talent</a>
            </div>
   
            </h3>

<!---728x90---"tab-content ">
            <div class="tabs mt-5">

    <div class= "row populor_category_grids mt-5 " id="pills-tabContent">
                    <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
                        <div class="menu-grids mt-4">
                            <div class="row t-in">
                                <div class="col-lg-8 text-info-sec">
                                    <!--/talent-->
                                    @foreach(var item in Model){
                                    <div class="job-post-main row">
                                        <div class="col-md-9 job-post-info text-left">
                                            <div class="job-post-icon">
                                                <i class="fas fa-briefcase"></i>
                                            </div>
                                            <div class="job-single-sec">
                                            <h4>
                                                        <a asp-controller="Talent" asp-action="Detail" asp-route-id="@item.Id">
                                                        @Html.DisplayFor(modelItem => item.FirstName)
                                                        @Html.DisplayFor(modelItem => item.LastName)
                                                        
                                                    </a>
                                                        
                                                    </h4>
                                                    <p class="my-2"> @Html.DisplayFor(modelItem => item.Email)</p>
                                                <ul class="job-list-info d-flex">
                                                
                                                    <li>
                                                            <i class="fas fa-map-marker-alt"></i> @Html.DisplayFor(modelItem => item.Country)
                                                    </li>
                                                   
                                                </ul>
                                            </div>
                                            <div class="clearfix"></div>
                                        </div>
                                        <div class="col-md-3 job-single-time text-right">
                                           
                                                <a asp-controller="Talent" asp-action="Edit" asp-route-id="@item.Id" class="btn btn-secondary"><i class="bi bi-pencil-square"></i>Edit</a>

            <a asp-controller="Talent" asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger"><i class="bi bi-trash"></i>Delete</a>
                                        </div>
                                    </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

*@

            <!--Fresh Start-->
<div class="container-xxl py-5">
    <div class="container">
<h1 class="text-center mb-5 wow fadeInUp" data-wow-delay="0.1s">Talents</h1>
<div id="tab-1" class="tab-pane fade show p-0 active">

    @foreach(var item in Model){
<div class="job-item p-4 mb-4">
    <div class="row g-4">
       
        <div class="col-sm-12 col-md-8 d-flex align-items-center">
            @*<img class="flex-shrink-0 img-fluid border rounded" src="~/jobassets/img/com-logo-1.jpg" alt="" style="width: 80px; height: 80px;">*@
            <div class="text-start ps-4">
                        <h5 class="mb-3">
                            <a asp-controller="Talent" asp-action="Detail" asp-route-id="@item.Id">
                                @Html.DisplayFor(modelItem => item.FirstName)
                                @Html.DisplayFor(modelItem => item.LastName)

                            </a>
                        </h5>
                        <p class="my-2"> @Html.DisplayFor(modelItem => item.Email)</p>
                        <span class="text-truncate me-3"><i class="fa fa-map-marker-alt text-primary me-2"></i>@Html.DisplayFor(modelItem => item.Country)</span>
                
            </div>
        </div>
        <div class="col-sm-12 col-md-4 d-flex flex-column align-items-start align-items-md-end justify-content-center">
            <div class="d-flex mb-3">

                        <a class="btn btn-primary" asp-controller="Talent" asp-action="Detail" asp-route-id="@item.Id">Details</a>
            </div>
            
        </div>
        
    </div>
</div>
}
</div>
</div>
</div>