@model TalentManagement.Domain.Entities.Job
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<!-- Job Detail Start -->
<div class="container-xxl py-5 wow fadeInUp" data-wow-delay="0.1s">
    <div class="container">
        <div class="row gy-5 gx-4">
            <div class="col-lg-8">
                <div class="d-flex align-items-center mb-5">

                    <div class="text-start ps-4">
                        <h3 class="mb-3">@Model.JobTitle</h3>
                        <span class="text-truncate me-3"><i class="fa fa-map-marker-alt text-primary me-2"></i>@Model.Company.Country</span>
                        <span class="text-truncate me-3"><i class="far fa-clock text-primary me-2"></i>@Model.JobType</span>
                        <span class="text-truncate me-0"><i class="far fa-money-bill-alt text-primary me-2"></i>@Model.Salary</span>
                    </div>
                </div>

                <div class="mb-5">
                    <h4 class="mb-3">Job description</h4>

                    <p> @Model.JobDescription</p>




                    <h4 class="mb-3">Required Skills</h4>

                    <ul class="list-unstyled">
                        @foreach (var skill in Model.Skills)
                        {
                            <li><i class="fa fa-angle-right text-primary me-2"></i>@skill.Skill.SkillName</li>

                        }
                    </ul>
                    <h4 class="mb-3">Qualifications</h4>

                    <ul class="list-unstyled">
                        <li><i class="fa fa-angle-right text-primary me-2"></i> Atleast @Model.YearsOfExp years of experience</li>
                        <li><i class="fa fa-angle-right text-primary me-2"></i>Graduated in : @Model.Education</li>

                    </ul>
                </div>
                <div class=""></div>


            </div>
            <div class="col-lg-4">
                <div class="bg-light rounded p-5 mb-4 wow slideInUp" data-wow-delay="0.1s">
                    <h4 class="mb-4">Job Summery</h4>
                    @if (SignInManager.IsSignedIn(User) && User.IsInRole("Talent"))
                    {
                        @if (ViewBag.IsApplied != null)
                        {
                            <p style="color:#2c9266;"> <i class="fa fa-check" aria-hidden="true"></i> Already applied</p>
                        }
                        else if (DateTime.Now > Model.JobDeadline)
                        {
                            <p style="color:red;"> <i class="fa fa-check" aria-hidden="true"></i> Application Closed</p>
                        }

                        else
                        {

                            <form asp-action="Apply" class="js-apply-job" asp-route-_id="@Model.Id">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="submit_btn">
                                            <button type="submit" class="btn btn-success" type="submit">Apply Now</button>

                                        </div>
                                    </div>
                                </div>
                            </form>
                        }
                    }


                    <br />
                    @if (DateTime.Now >= Model.PostedDate && DateTime.Now <= Model.JobDeadline)
                    {
                        <p class="text-success"><i class="fa fa-angle-right text-primary me-2"></i>Status:OPEN</p>
                    }
                    else if (DateTime.Now > Model.JobDeadline)
                    {
                        <p class="text-danger"><i class="fa fa-angle-right text-primary me-2"></i>Status:CLOSED</p>
                    }
                    @if (DateTime.Now > Model.JobDeadline)
                    {
                        <p><i class="fa fa-angle-right text-primary me-2"></i>Posted Date:@Model.PostedDate.ToString("dd/MM/yyyy ") </p>
                        <p><i class="fa fa-angle-right text-primary me-2"></i>Vacancy: @Model.Vacancy Position</p>
                        <p><i class="fa fa-angle-right text-primary me-2"></i>Job Nature: @Model.JobType</p>
                        <p><i class="fa fa-angle-right text-primary me-2"></i>Salary:@Model.Salary</p>
                        <p><i class="fa fa-angle-right text-primary me-2"></i>Location:@Model.Company.Country</p>
                    }
                     @if (DateTime.Now >= Model.PostedDate && DateTime.Now <= Model.JobDeadline)
                    {
                        <p><i class="fa fa-angle-right text-primary me-2"></i>Posted Date:@Model.PostedDate.ToString("dd/MM/yyyy ") </p>
                        <p><i class="fa fa-angle-right text-primary me-2"></i>Vacancy: @Model.Vacancy Position</p>
                        <p><i class="fa fa-angle-right text-primary me-2"></i>Job Nature: @Model.JobType</p>
                        <p><i class="fa fa-angle-right text-primary me-2"></i>Salary:@Model.Salary</p>
                        <p><i class="fa fa-angle-right text-primary me-2"></i>Location:@Model.Company.Country</p>
                        <p class="m-0"><i class="fa fa-angle-right text-primary me-2"></i>Deadline:@Model.JobDeadline.ToString("dd/MM/yyyy ") </p>
                    }
                </div>
                <div class="bg-light rounded p-5 wow slideInUp" data-wow-delay="0.1s">
                    <h4 class="mb-4">Company Detail</h4>

                    <p><i class="fa fa-angle-right text-primary me-2"></i>Name: @Model.Company.CompanyName</p>
                    <p><i class="fa fa-angle-right text-primary me-2"></i>Email: @Model.Company.CompanyEmail</p>
                </div>
            </div>
        </div>
    </div>
    <br />

    <div class="">

        @if (SignInManager.IsSignedIn(User) && User.IsInRole("Talent"))
        {
            <a asp-action="Index" asp-controller="Job" class="btn btn-outline-dark  flex justify-content-end">Back</a>
        }
        @if (SignInManager.IsSignedIn(User) && User.IsInRole("Company"))
        {
            <div class="row">
                <div class="form-group col-md-6">
                    <br />
                    <a class="w-100 btn btn-lg btn-outline-dark" asp-controller="Job" asp-action="YourPosts">Back</a>
                    <br />
                    <br />
                </div>
                <div class="form-group col-md-6">
                    <br />
                    <a class="w-100 btn btn-lg btn-success" asp-controller="Job" asp-action="EditJob" asp-route-id="@Model.Id">Update</a>
                    <br />
                    <br />
                </div>
            </div>
            @*<a asp-action="Resume" asp-controller="Talent" class="btn btn-outline-dark">Back</a>*@
        }
        @if (SignInManager.IsSignedIn(User) && User.IsInRole("Admin"))
        {
            <a asp-action="Index" asp-controller="Job" class="btn btn-outline-dark">Back</a>
        }
    </div>
</div>
<!-- Job Detail End -->
