@model TalentManagement.Application.ViewModels.PostAJobViewModel
@using TalentManagement.Domain.Enum;
@{
    ViewData["Title"] = "AddTalent";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}
@*<div class="row">
    <div class="col-md-8 offset-2">
        <p>
            <h4>Post A Job</h4>
        </p>
        <div class="row">
            <div class="col-md-12">
                <form asp-action="EditJob">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="row">
                        <div class="col-md-6">

                            <div class="form-group ">
                                <label asp-for="CompanyName"></label>

                                <input asp-for="CompanyName" class="form-control " />
                                <span asp-validation-for="CompanyName" class="text-danger"></span>

                            </div>



                            <div class="form-group">
                                <label asp-for="CompanyEmail"></label>

                                <input asp-for="CompanyEmail" class="form-control " />
                                <span asp-validation-for="CompanyEmail" class="text-danger"></span>

                            </div>



                            <div class="form-group ">
                                <label asp-for="Country"></label>

                                <select asp-for="Country" class="form-control " asp-items="Html.GetEnumSelectList<Country>()">
                                    <option value="" selected disabled>-----------------------Select Your Country-------------------------</option>
                                </select>
                                <span asp-validation-for="Country" class="text-danger"></span>

                            </div>

                            <div class="form-group ">
                                <label asp-for="Education"></label>

                                <select asp-for="Education" asp-items="@Model.EducationTypes" class="form-select">
                                    <option disabled selected>Select primary High level Education Required</option>
                                </select>

                                <span asp-validation-for="Education" class="text-danger"></span>

                            </div>

                            <div class="form-group">
                                <label asp-for="PostedDate"></label>

                                <input asp-for="PostedDate" type="date" class="form-control " />
                                <span asp-validation-for="PostedDate" class="text-danger"></span>

                            </div>


                            <div class="form-group ">
                                <label asp-for="JobDeadline"></label>

                                <input asp-for="JobDeadline" type="date" class="form-control " />
                                <span asp-validation-for="JobDeadline" class="text-danger"></span>

                            </div>


                        </div>
                        <div class="col-md-6">

                            <div class="form-group ">
                                <label asp-for="JobTitle"></label>

                                <input asp-for="JobTitle" class="form-control" />
                                <span asp-validation-for="JobTitle" class="text-danger"></span>

                            </div>



                            <div class="form-group ">
                                <label asp-for="JobType"></label>

                                <select asp-for="JobType" asp-items="@Model.JobTypes" class="form-select">
                                    <option disabled selected>Select Job Type</option>
                                </select>
                                <span asp-validation-for="JobType" class="text-danger"></span>

                            </div>


                            <div class="form-group">
                                <label asp-for="YearsOfExp"></label>

                                <input asp-for="YearsOfExp" type="number" class="form-control " />
                                <span asp-validation-for="YearsOfExp" class="text-danger"></span>

                            </div>


                            <div class="form-group">
                                <label asp-for="Vacancy"></label>

                                <input asp-for="Vacancy" type="number" path="email" id="email" class="form-control input-sm" />
                                <span asp-validation-for="Vacancy" class="text-danger"></span>

                            </div>
                            <div class="form-group">
                                <label asp-for="Salary"></label>

                                <input asp-for="Salary" type="number" class="form-control " />
                                <span asp-validation-for="Salary" class="text-danger"></span>

                            </div>




                        </div>

                    </div>
                    <hr />
                    <div class="col-md-12">
                        <div class="form-group ">
                            <label class="col-md-3 control-lable" asp-for="SelectedSkills"></label>
                            <br />


                            @Html.ListBoxFor(model => model.SelectedSkills, new MultiSelectList(Model.Skills, "Value", "Text"), new { @class = "form-control input-sm", style = "width: 100%", multiple = "multiple", id = "Skills_dropdown"})

                            <span asp-validation-for="SelectedSkills" class="text-danger"></span>

                        </div>
                        <div class="form-group">
                            <label asp-for="JobDescription"></label>
                            <textarea asp-for="JobDescription" class="form-control"></textarea>
                            <span asp-validation-for="JobDescription" class="text-danger"></span>
                        </div>

                    </div>

                    <br />

                    <div class="form-group">

                        <a asp-controller="Main" asp-action="Home" class="btn btn-outline-dark ">Back</a>
                        <input type="submit" value="Update" class="btn btn-outline-success float-right" />

                    </div>

                </form>
            </div>
        </div>
    </div>

</div>*@
<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center mb-5 wow fadeInUp" data-wow-delay="0.1s">
            <div class="row">
                <div classs="card shadow border-0 mt-4">
                    <div class="card-header bg-dark bg-gradient ml-0 py-4">
                        <div class="row">
                            <div class="col-12 text-center">
                                <h2 class="py-2 text-white">Update Job Post </h2>
                            </div>
                        </div>
                    </div>
                    <div class="card-body p-4">
                        <div class="row pt-3">
                            <div class="col-md-12 ">
                                <form asp-controller="Job" asp-action="EditJob" class="row" enctype="multipart/form-data">
                                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                    <div class="form-floating mb-3 col-md-6">
                                        <input asp-for="CompanyName" class="form-control " />
                                        <label asp-for="CompanyName" class="ms-2 text-muted"></label>
                                        <span asp-validation-for="CompanyName" class="text-danger"></span>
                                    </div>
                                    <div class="form-floating mb-3 col-md-6">
                                        <input asp-for="CompanyEmail" class="form-control " />
                                        <label asp-for="CompanyEmail"></label>
                                        <span asp-validation-for="CompanyEmail" class="text-danger"></span>
                                    </div>
                                    <div class="form-floating mb-3 col-md-12">
                                        <input asp-for="JobTitle" class="form-control" />
                                        <label asp-for="JobTitle" class="ms-2 text-muted"></label>
                                        <span asp-validation-for="JobTitle" class="text-danger"></span>
                                    </div>
                                    <div class="form-floating mb-3 col-md-6">
                                        <select asp-for="Country" class="form-select " asp-items="Html.GetEnumSelectList<Country>()">
                                            <option value="" selected disabled>Select Country</option>
                                        </select>
                                        <label asp-for="Country" class="ms-2 text-muted"></label>
                                        <span asp-validation-for="Country" class="text-danger"></span>
                                    </div>
                                    <div class="form-floating mb-3 col-md-6">
                                        <select asp-for="Education" asp-items="@Model.EducationTypes" class="form-select">
                                            <option disabled selected>Select primary High level Education Required</option>
                                        </select>
                                        <label asp-for="Education" class="ms-2 text-muted"></label>
                                        <span asp-validation-for="Education" class="text-danger"></span>
                                    </div>
                                    <div class="form-floating mb-3 col-md-6">
                                        <input asp-for="PostedDate" type="date" class="form-control " />
                                        <label asp-for="PostedDate" class="ms-2 text-muted"></label>
                                        <span asp-validation-for="PostedDate" class="text-danger"></span>
                                    </div>
                                    <div class="form-floating mb-3 col-md-6">
                                        <input asp-for="JobDeadline" type="date" class="form-control " />
                                        <label asp-for="JobDeadline" class="ms-2 text-muted"></label>
                                        <span asp-validation-for="JobDeadline" class="text-danger"></span>
                                    </div>

                                    <div class="form-floating mb-3 col-md-6">
                                        <select asp-for="JobType" asp-items="@Model.JobTypes" class="form-select">
                                            <option disabled selected>Select Job Type</option>
                                        </select>
                                        <label asp-for="JobType" class="ms-2 text-muted"></label>
                                        <span asp-validation-for="JobType" class="text-danger"></span>
                                    </div>
                                    <div class="form-floating mb-3 col-md-6">
                                        <input asp-for="YearsOfExp" type="number" class="form-control " />
                                        <label asp-for="YearsOfExp" class="ms-2 text-muted"></label>
                                        <span asp-validation-for="YearsOfExp" class="text-danger"></span>
                                    </div>
                                    <div class="form-floating mb-3 col-md-6">
                                        <input asp-for="Vacancy" type="number" path="email" id="email" class="form-control input-sm" />
                                        <label asp-for="Vacancy" class="ms-2 text-muted"></label>
                                        <span asp-validation-for="Vacancy" class="text-danger"></span>
                                    </div>
                                    <div class="form-floating mb-3 col-md-6">
                                        <input asp-for="Salary" type="number" class="form-control " />
                                        <label asp-for="Salary" class="ms-2 text-muted"></label>
                                        <span asp-validation-for="Salary" class="text-danger"></span>
                                    </div>
                                    <div class="form-floating mb-3 col-md-12">
                                        @Html.ListBoxFor(model => model.SelectedSkills, new MultiSelectList(Model.Skills, "Value", "Text"), new { @class = "form-control input-sm", style = "width: 100%", multiple = "multiple", id = "Skills_dropdown"})
                                        <label class="ms-2 text-muted" asp-for="SelectedSkills"></label>
                                        <br />
                                        <span asp-validation-for="SelectedSkills" class="text-danger"></span>

                                    </div>
                                    <div class="form-floating mb-3 col-md-12">
                                        <textarea asp-for="JobDescription" class="form-control"></textarea>
                                        <label asp-for="JobDescription" class="ms-2 text-muted"></label>
                                        <span asp-validation-for="JobDescription" class="text-danger"></span>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <br />
                                        <a class="w-100 btn btn-lg btn-outline-secondary" asp-controller="Job" asp-action="YourPosts">Back</a>
                                        <br />
                                        <br />
                                    </div>
                                    <div class="form-group col-md-6">
                                        <br />
                                        <input class="w-100 btn btn-lg btn-dark" type="submit" value="Update" />
                                        <br />
                                        <br />
                                    </div>


                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script type="text/javascript">

        $(document).ready(function () {
            $('#Skills_dropdown').multiselect();
        });
    </script>
}
