@model IEnumerable<TalentManagement.Domain.Entities.Job>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}
<div class="container-xxl py-5">
    <div class="container">
        <h1 class="text-center mb-5 wow fadeInUp" data-wow-delay="0.1s">Jobs</h1>
        <div id="tab-1" class="tab-pane fade show p-0 active">
            <form class="navbar-brand d-flex align-items-center text-center py-0 px-4 px-lg-5 py-4" asp-controller="Job" asp-action="Filter">
                <input name="searchString" type="text" class="form-control" placeholder="Search for a job..." />
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit"><i class="bi bi-search"></i></button>

            </form>
            @foreach (var item in Model)
            {
                <div class="job-item p-4 mb-4">
                    <div class="row g-4">

                        <div class="col-sm-12 col-md-8 d-flex align-items-center">

                            <div class="text-start ps-4">
                                <h5 class="mb-3">

                                    @Html.DisplayFor(modelItem => item.JobTitle)

                                </h5>
                                <p class="my-2">
                                    @Html.DisplayFor(modelItem => item.JobType)
                                    @if (DateTime.Now >= item.PostedDate && DateTime.Now <= item.JobDeadline)
                                    {
                                    <p class="text-success"><b>OPEN</b></p>
                                    }
                                    else if (DateTime.Now > item.JobDeadline)
                                    {
                                    <p class="text-danger"><b>CLOSED</b></p>
                                    }
                                </p>
                                <p>
                                    Email: @Html.DisplayFor(modelItem => item.Company.CompanyEmail)
                                </p>
                                <span class="text-truncate me-3"><i class="fa fa-map-marker-alt text-primary me-2"></i>@Html.DisplayFor(modelItem => item.Company.Country)</span>

                            </div>
                        </div>
                        <div class="col-sm-12 col-md-4 d-flex flex-column align-items-start align-items-md-end justify-content-center">
                            <div class="d-flex mb-3">

                                <a class="btn btn-primary" asp-controller="Job" asp-action="Detail" asp-route-id="@item.Id">Details</a>
                               
                               @* <a class="btn btn-danger" asp-controller="Job" asp-action="DeleteJob" asp-route-id="@item.Id">Delete</a>*@
                            </div>                     
                            @*<a class="btn btn-outline-success" asp-controller="Job" asp-action="EditJob" asp-route-id="@item.Id">Update</a>*@
                            

                        </div>
                        
                    </div>
                </div>
            }
        </div>
    </div>
</div>